<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="copy" >
<head>
    <title>Solr Power</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Solr Power">
    <meta name="keywords" content="Solr, Search, Store">
    <meta name="author" content="Debmalya Jash">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
</div>
</body>
</html>